@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Inter,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #134874 #e4e4e4;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    color: #e4e4e4;
}

*::-webkit-scrollbar-track {
    background: #e4e4e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #134874;
}

#products-spec::-webkit-scrollbar {
    display: none;
}

#products-spec {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* App height computation */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    font-family: Inter;
    height: 100%;
}

._loading_overlay_wrapper {
    height: 100%;
}
